

    <nav class="navbar navbar-inverse" style="background-color:#000000;margin:0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand navbar-link" style="background-image:url(/assets/completelogo.jpg);height:100px;width:290px;"> </a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right" style="background-color:#222222;color:#fdfdfd;">
                <li role="presentation"><a href="#" style="margin:30px;color:#f0f0f0;">Home </a></li>
                <li role="presentation"><a href="#" style="margin:30px;color:#fdfdfd;">Our team </a></li>
                <li role="presentation"><a href="#" style="margin:30px;color:#fdfdfd;">Gallery </a></li>
                <li role="presentation"><a href="#" style="margin:30px;color:#fdfdfd;">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url(/assets/cars.jpg);"></div>
                <div class="swiper-slide" style="background-image:url(/assets/cars2.jpeg);"></div>
                <div class="swiper-slide" style="background-image:url(/assets/cars4.jpg);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div class="features-boxed" style="background-color:#222222;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:#fdfdfd;">Our Uniqueness</h2>
                <p class="text-center" style="color:#fdfdfd;">If you want to get your car brought back to life and better than it was before damage, dont hesitate to give us a call.</p>
            </div>
            <div class="row features">
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-hourglass icon" style="color:#222222;"></i>
                        <h3 class="name">Fast </h3>
                        <p class="description">We Present a fast and reliable amendment to your car. We always deliver within the time specified.</p><a href="#" class="learn-more" style="color:#222222;">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-time icon" style="color:#222222;"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">After office hours we still take your car. You can drop off your vehicle, we estimate it and give you a call the next day. </p><a href="#" class="learn-more" style="color:#222222;">Learn more »</a></div>
                </div>
                <div class="col-md-4 col-sm-6 item">
                    <div class="box"><i class="glyphicon glyphicon-road icon" style="color:#222222;"></i>
                        <h3 class="name">Repair Process</h3>
                        <p class="description">From estimate to contacting your insurance to completion of your car,we handle it. We have done this for years trust us.</p><a href="#" class="learn-more" style="color:#222222;">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div>
        <div class="container">
            <div class="row">
                <h2>What Our Customers Say About Us</h2></div>
        </div>
        <div class="carousel-reviews broun-block">
            <div class="container">
                <div class="row">
                    <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text rel zmin"><a title href="#">Hercules</a>
                                        <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span>
                                            <span
                                            data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span></span>
                                        </div>
                                        <p>Never before has there been a good film portrayal of ancient Greece&#39;s favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men:
                                            The last Stand director Brett Ratner. If the name of the director wasn&#39;t enough to dissuade ...</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                                    <div class="person-text rel"><img /><a title href="#">Anna</a><i>from Glasgow, Scotland</i></div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text rel zmin"><a title href="#">The Purge: Anarchy</a>
                                        <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                            <span
                                            data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span></span>
                                        </div>
                                        <p>The 2013 movie &quot;The Purge&quot; left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at &quot;horror.&quot; Upon seeing the
                                            first trailer for &quot;The Purge: Anarchy,&quot; my first and most immediate thought was &quot;we really don&#39;t need another one of these.&quot;</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                                    <div
                                    class="person-text rel"><img /><a title href="#">Ella Mentree</a><i>United States</i></div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                <div class="block-text rel zmin"><a title href="#">Planes: Fire &amp; Rescue</a>
                                    <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span>
                                        <span
                                        data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span></span>
                                    </div>
                                    <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle&#39;s universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed
                                        it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise.</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                                <div class="person-text rel"><img /><a title href="#">Rannynm</a><i>Indonesia</i></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-4 col-sm-6">
                                <div class="block-text rel zmin"><a title href="#">Hercules</a>
                                    <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span>
                                        <span
                                        data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span></span>
                                    </div>
                                    <p>Never before has there been a good film portrayal of ancient Greece&#39;s favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men:
                                        The last Stand director Brett Ratner. If the name of the director wasn&#39;t enough to dissuade ...</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                                <div class="person-text rel"><img alt src="http://myinstantcms.ru/images/img13.png" /><a title href="#">Anna</a><i>from Glasgow, Scotland</i></div>
                            </div>
                            <div class="col-md-4 col-sm-6 hidden-xs">
                                <div class="block-text rel zmin"><a title href="#">The Purge: Anarchy</a>
                                    <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                        <span
                                        data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span></span>
                                    </div>
                                    <p>The 2013 movie &quot;The Purge&quot; left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at &quot;horror.&quot; Upon seeing the first
                                        trailer for &quot;The Purge: Anarchy,&quot; my first and most immediate thought was &quot;we really don&#39;t need another one of these.&quot;</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                                <div
                                class="person-text rel"><img alt src="http://myinstantcms.ru/images/img14.png" /><a title href="#">Ella Mentree</a><i>United States</i></div>
                        </div>
                        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                            <div class="block-text rel zmin"><a title href="#">Planes: Fire &amp; Rescue</a>
                                <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span>
                                    <span
                                    data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span></span>
                                </div>
                                <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle&#39;s universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed
                                    it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise.</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                            <div class="person-text rel"><img alt src="http://myinstantcms.ru/images/img15.png" /><a title href="#">Rannynm</a><i>Indonesia</i></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
                            <div class="block-text rel zmin"><a title href="#">Hercules</a>
                                <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span>
                                    <span
                                    data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span></span>
                                </div>
                                <p>Never before has there been a good film portrayal of ancient Greece&#39;s favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The
                                    last Stand director Brett Ratner. If the name of the director wasn&#39;t enough to dissuade ...</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                            <div class="person-text rel"><img alt src="http://myinstantcms.ru/images/img13.png" /><a title href="#">Anna</a><i>from Glasgow, Scotland</i></div>
                        </div>
                        <div class="col-md-4 col-sm-6 hidden-xs">
                            <div class="block-text rel zmin"><a title href="#">The Purge: Anarchy</a>
                                <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span>
                                    <span
                                    data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span></span>
                                </div>
                                <p>The 2013 movie &quot;The Purge&quot; left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at &quot;horror.&quot; Upon seeing the first trailer
                                    for &quot;The Purge: Anarchy,&quot; my first and most immediate thought was &quot;we really don&#39;t need another one of these.&quot;</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                            <div class="person-text rel"><img alt src="http://myinstantcms.ru/images/img14.png" /><a title href="#">Ella Mentree</a><i>United States</i></div>
                        </div>
                        <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                            <div class="block-text rel zmin"><a title href="#">Planes: Fire &amp; Rescue</a>
                                <div class="mark">My rating:<span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span>
                                    <span
                                    data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span></span>
                                </div>
                                <p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle&#39;s universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed
                                    it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise.</p><ins class="ab zmin sprite sprite-i-triangle block"></ins></div>
                            <div class="person-text rel"><img alt src="http://myinstantcms.ru/images/img15.png" /><a title href="#">Rannynm</a><i>Indonesia</i></div>
                        </div>
                    </div>
                </div><a class="left carousel-control" href="#carousel-reviews" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#carousel-reviews" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a></div>
        </div>
    </div>
    </div>
    </div>
    <div></div>
    <div class="footer-dark">
        <div>
            <div>
                <div class="jumbotron-contact jumbotron-contact-sm">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <h1 class="h1">Contact us</h1></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="well well-sm">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email Address</label>
                                                <div class="input-group"><span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="subject">Subject</label>
                                                <select id="subject" name="subject" class="form-control" required="required">
                                                    <option value="na" selected>Choose One:</option>
                                                    <option value="service">General Customer Service</option>
                                                    <option value="suggestions">Suggestions</option>
                                                    <option value="product">Product Support</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name">Message</label>
                                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form>
                                <legend><span class="glyphicon glyphicon-globe"></span>Our office</legend><address><strong>Complete Collision Center</strong><br />787 HWY Z<br />ST. Robert, MO.65584<br /><abbr title="Phone">P : </abbr>(573)451-3042</address><address><strong>Complete Collision</strong><br /><a href="mailto:#">Jim@comletecollisioncenter.com</a></address></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-push-6 item text">
                        <h3>Company Name</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-4 item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-snapchat"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <p class="copyright">Complete Collision Center © 2017</p>
            </div>
        </footer>
    </div>



